<!DOCTYPE html>
<html>
<head>
  <title>Notes.View.Note</title>
  <link rel="shortcut icon" type="image/png" href="../../../../jasmine/jasmine_favicon.png" />
  <link rel="stylesheet" type="text/css" href="../../../../jasmine/jasmine.css" />
  <script src="../../../../jasmine/jasmine.js"></script>
  <script src="../../../../jasmine/jasmine-html.js"></script>
  
  <script src="../../../../Truss.js"></script>
  <script src="../../../../Truss.View.js"></script>
  <!-- Source -->
  <script src="../../js/views/Notes.View.Note.js"></script>

</head>

<body>    
  <h1>Notes.View.Note</h1>
  <ul id="parentEl"></ul>
  <!-- TEST -->
  <script src="Notes.View.Note-test.js"></script>

  <script>
    jasmine.getEnv().addReporter(new jasmine.TrivialReporter());
    jasmine.getEnv().execute();
  </script>
</body>
</html>