extends layout

block content
    section#rootNode

    script(src="/javascripts/views/Notes.View.Form.js")
    script(src="/javascripts/views/Notes.View.List.js")
    script(src="/javascripts/views/Notes.View.Note.js")
    script(src="/javascripts/views/Notes.View.Count.js")
    script(src="/javascripts/views/Notes.View.Edit_Note.js")
    script(src="/javascripts/bootstrap.js")